/* Figma Styles of your File */
:root {
  /* Colors */
  --main-xiketic-black: #080510;
  --main-medium-purple: #a363f6;
  --main-chartreuse: #b9ce42;
  --main-white: #ffffff;
  --secondary-midnight-green: #01444e;
  --secondary-sky-blue: #97dffc;
  --secondary-pale-purple: #fbe6ff;
  --system-gray-dark-01: #7e7e95;
  --system-gray-dark-02: #5e5e73;
  --system-gray-dark-03: #393946;
  --system-gray-dark-04: #333338;
  --system-gray-dark-05: #25252d;
  --system-gray-dark-06: #141415;
  --system-red-dark: #ff453a;
  --system-orange-dark: #ff9f0a;
  --system-yellow-dark: #ffd60a;
  --system-green-dark: #30d158;
  --system-teal-dark: #64d2ff;
  --system-blue-dark: #0a84ff;
  --system-indigo-dark: #5e5ce6;
  --system-purple-dark: #bf5af2;
  --system-pink-dark: #ff2d55;

  /* Fonts */

  /* Effects */
}
